/*Impostazioni Generali */

  body {
    font-family: 'Courier New', monospace;
    margin: 0;
    padding: 0;
  }

  li {
    margin-bottom: 10px;
  }

  
  /* Immagine & Visione */
  .immvis {
    display: flex;
    align-items: center;
    padding: 0px 15px 0px 15px;
    margin-top: 50px;
  }
  
  .foto-profilo {
    display: block;
    border-radius: 50%;
    max-width: 100%;
    min-width: 15%;
    height: auto;
  }
  
  .visione {
    margin-top: 0;
    text-align: center;
  }
  
  .visione-titolo {
    margin-top: 0;
    text-align: left;
    font-size: 36px;
    margin-bottom: 20px;
  }
  
  .visione-contenuto {
    text-align: left;
    font-size: 18px;
    /* margin: 20px; */
    margin: 0;
  }
  
  /* Esperienza Lavorativa */
  .exp1-exp2 {
    display: flex;
  }
  .exp1, .exp2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f2f2f2;
    padding: 50px;
    margin-top: 50px;
  }
  
  .exp1-titolo, .exp2-titolo {
    font-size: 36px;
    margin-bottom: 20px;
  }
  
  .exp1-contenuto, .exp2-contenuto {
    font-size: 18px;
    margin: 20px;
  }
  

  
  .exp1-info, .exp2-info {
    margin: 20px;
    align-items: left;
    margin: 0;
  }
  
  /* Soft & Hard Skills */
  .skill {
    margin-bottom: 100px;
  }
  
  .skills-title {
    text-align: center;
    font-size: 2em;
    margin-bottom: 30px;
  }

  .skills-container {
    display: flex;
    justify-content: space-around;
  }

  .skills-categoria {
    text-align: center;
  }
  
/* Social Buttom */
.social-generic {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
  margin-bottom: 40px;
}

.fa {
  padding: 20px;
  font-size: 1.2rem;
  margin-left: 5px;
  margin-right: 5px;
  color: white;
  background-color: black;
  border-radius: 50px;
  width: 1.2rem;
  height: 1.2rem;
  text-align: center;
  text-decoration: none;
}

/* General Media Query */
/* Telefono */
@media only screen and (max-width: 480px) {
  .immvis {
    flex-direction: column;
    text-align: center;
    margin-top: 20px;
  }

  .foto-profilo {
    margin-bottom: 20px;
    max-width: 50%;
    min-width: 50%;
    height: auto;
  } 

  .visione {
    margin-left: 0;
    margin-top: 20px;
    text-align: center;
  }

  .exp1, .exp2 {
    padding: 20px;
    margin-top: 20px;
  }

  .exp1-titolo,
  .exp2-titolo {
    font-size: 28px;
  }

  .exp1-contenuto,
  .exp2-contenuto {
    font-size: 14px;
  }

  .skills-container {
    font-size: 14px;
    margin-left: 10;
    margin-right: 10;
  }

  .fa {
    padding: 10px;
    font-size: 1rem;
    width: 1rem;
  }
}


