/*Impostazioni Generali */

  body {
    font-family: 'Courier New', monospace;
    margin: 0;
    padding: 0;
  }
  
  /* Immagine & Visione */
  .immvis {
    display: flex;
    align-items: center;
    padding: 0px 15px 0px 15px;
    margin-top: 50px;
  }
  
  .foto-profilo {
    display: block;
    border-radius: 50%;
    max-width: 100%;
    min-width: 15%;
    height: auto;
  }
  
  .visione {
    margin-top: 0;
    margin-left: 50px;
    text-align: center;
  }
  
  .visione-titolo {
    margin-top: 0;
    text-align: left;
    font-size: 36px;
    margin-bottom: 20px;
  }
  
  .visione-contenuto {
    text-align: left;
    font-size: 18px;
    /* margin: 20px; */
    margin: 0;
  }
  
  /* Esperienza Lavorativa */
  .exp1-exp2 {
    display: flex;
  }
  .exp1, .exp2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f2f2f2;
    padding: 50px;
    margin-top: 50px;
  }
  
  .exp1-titolo, .exp2-titolo {
    font-size: 36px;
    margin-bottom: 20px;
  }
  
  .exp1-contenuto, .exp2-contenuto {
    font-size: 18px;
    margin: 20px;
  }
  

  
  .exp1-info, .exp2-info {
    margin: 20px;
    align-items: left;
    margin: 0;
  }
  
  /* Soft & Hard Skills */
  .skill {
    margin-bottom: 100px;
  }
  
  .skill-carattere {
    font-size: 20px;
  }
  
  .skill-title {
    text-align: center;
  }
  
  .skill-container {
    display: flex;
    justify-content: space-around;
  }
  
  .soft-skill {
    margin-bottom: 40px;
  }
 
/* Social Buttom */
.social-generic {
  display:grid;
  text-align: center;
}

.fa {
    padding: 20px;
    font-size: 1.2rem;
    margin-top: 5px;
    color: white;
    background-color: black;
    border-radius: 50px;
    width: 1.2rem;
    height: 1.2rem;
    text-align: center;
    text-decoration: none;
  }
  